*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

.container{
    background-color: black;
    border-radius: 10px;
    font-size: larger;
}

.container ul{
    list-style-type: none;
}

.container li{
    display: inline-block;
    padding: 10px 10px;
}

.container ul li a{
    text-decoration: none;
    
}

div{
    /* border: 1px solid black; */
    margin: 8px;
    padding: 10px;
}

h2{
    color: cadetblue;
}
.audio-links{
   display: list-item;
   padding: 10px;
}